# Database
DB_HOST=localhost
DB=voxform_db
DB_USER=db_username
DB_PASS=changeme

# Stripe
STRIPE_MAIN_API=sk_live_xxxxxxxxxxxxxxxxxxxxxxxx
STRIPE_TEST_API=sk_test_xxxxxxxxxxxxxxxxxxxxxxxx
STRIPE_MAIN_SECRET=whsec_xxxxxxxxxxxxxxxxxxxxxxxx
STRIPE_TEST_SECRET=whsec_xxxxxxxxxxxxxxxxxxxxxxxx

# Discord webhooks
DISCORD_ORDERS_WEBHOOK=https://discord.com/api/webhooks/xxxxxxxx/xxxxxxxx
DISCORD_NOTIFICATIONS_WEBHOOK=https://discord.com/api/webhooks/xxxxxxxx/xxxxxxxx

# Email (SMTP)
EMAIL_HOST=smtp.example.com
EMAIL_USERNAME_NOREPLY=no-reply@example.com
EMAIL_USERNAME_CONTACT=contact@example.com
EMAIL_PASSWORD=changeme
EMAIL_TRUSTPILOT=example@invite.trustpilot.com

# VirusTotal API
VT_API_KEY=changeme

# Admin login users
USER1="Full Name"
USER1_PASS=changeme
USER2="Full Name"
USER2_PASS=changeme